<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RecordMapper">
<!--    <select id="getAllRecord" resultType="record">-->
<!--        select * from record-->
<!--    </select>-->
    <select id="getAllRecordASC" resultMap="record-stu-act">
        select r.record_id,r.sign_time,s.stu_name,s.stu_school,s.stu_subject,s.stu_phone,i.item_name,i.address,i.join_time,i.act_profile
        FROM record r
                 INNER JOIN stu_info s ON r.user_id = s.uid
                 INNER JOIN item_info i ON r.item_id = i.item_id
        where r.org_id = #{org_id} and r.item_id = #{item_id} and r.record_check = #{check_status}
        ORDER BY sign_time ASC
    </select>

    <select id="getAllRecordDESC" resultMap="record-stu-act">
        select r.record_id,r.sign_time,s.stu_name,s.stu_school,s.stu_subject,s.stu_phone,i.item_name,i.address,i.join_time,i.act_profile
        FROM record r
                 INNER JOIN stu_info s ON r.user_id = s.uid
                 INNER JOIN item_info i ON r.item_id = i.item_id
        where r.org_id = #{org_id} and r.item_id = #{item_id} and r.record_check = #{check_status}
        ORDER BY sign_time DESC
    </select>

    <select id="getChecking" resultMap="record-stu-act">
        select r.record_id,r.record_check,s.stu_name,s.stu_school,s.stu_subject,s.stu_phone,i.item_name,i.address,i.join_time,i.act_profile
        FROM record r
                 INNER JOIN stu_info s ON r.user_id = s.uid
                 INNER JOIN item_info i ON r.item_id = i.item_id
        where r.record_check = 0 and r.org_id = #{org_id}
    </select>

    <resultMap id="record-stu-act" type="record">
        <id column="record_id" property="record_id"/>
        <result column="record_check" property="record_check"/>
        <result column="sign_time" property="sign_time"/>
        <association property="activity" javaType="activity" >
            <id column="item_id" property="item_id"/>
            <result column="item_name" property="item_name"/>
            <result column="address" property="address"/>
            <result column="act_profile" property="act_profile"/>
            <result column="join_time" property="join_time"/>
        </association>
        <association property="stu" javaType="stu" >
            <id column="uid" property="uid"/>
            <result column="stu_name" property="stu_name"/>
            <result column="stu_school" property="stu_school"/>
            <result column="stu_subject" property="stu_subject"/>
            <result column="stu_phone" property="stu_phone"/>
        </association>
    </resultMap>

    <update id="updateNum">
        update item_info set present_num = present_num + 1
        where item_id in (select item_id from record where record_id = #{record_id})
    </update>
</mapper>